{% extends 'base.jinja' %}
{% block content %}

  <h1>Users</h1>

  <ul>
  {# FIXME: are we passing users correctly? #}
    {% for user in user_full_names %}
      <li><a href="/Users/{{ user_ids }}">{{ user }}</a></li>
    {% endfor %}
  </ul>

    {# FIXME: Action route to add user#}
    <button action="" class="btn btn-primary btn-lg w-100">
        Add user
      </button>
  </form>

{% endblock %}


