{% extends 'base.jinja' %}

{% block title %} Create a user {% endblock %}

{% block content %}

    <div class="container">

        <div class="row">
                <div>
                 <img src="{{ user_image }}" alt="{{ user_full_name }}'s profile picture" class="img-thumbnail">
                  <h1 class="pt-4 mb-3 text-center">{{ user_full_name }}</h1>
                </div>
            <a href="/users/{{ user_id }}/edit" class="btn btn-primary btn-lg w-100">
                Edit
            </a>

            <form action="/users/{{ user_id }}/delete" method="post">
                 {# FIXME: can an anchor tag be a post? We used submit to fix this. Does it work? #}
                <button  class="btn btn-primary btn-lg w-100">
                    Delete
                </button>
            </form>

        </div>

  </div>

{% endblock %}