{% extends 'base.jinja' %}

{% block title %} Edit {{ user.get_full_name() }} {% endblock %}

{% block content %}

    <!-- Test comment for user_detail -->
    <div class="container">

        <div class="row">
            <div>
                <img src="{{ user.image_url }}" alt="{{ user.get_full_name() }}'s profile picture" class="img-thumbnail">
                <h1 class="pt-4 mb-3 text-center">{{ user.get_full_name() }}</h1>
            </div>

            <form > {# Here's a way to add a form method and action to a button to handle multiple routes #}
                <button
                class="btn btn-primary btn-lg w-100"
                formmethod="GET"
                formaction="/users/{{ user.id }}/edit">
                    Edit
                </button>

                <button
                class="btn btn-primary btn-lg w-100"
                formmethod="POST"
                formaction="/users/{{ user.id }}/delete">
                    Delete
                </button>
            </form>

        </div>

        <div class="row">
            <div>
                <h1 class="pt-4 mb-3 text-center">Posts</h1>
            </div>

                <ul>
                    {% for post in posts %}
                        <li>
                            <a href="/posts/{{ post.id }}">{{ post.title }}</a>
                            {{ post.friendly_date }}
                        </li>
                    {% endfor %}
                </ul>

                <a href="/users/{{ user.id }}/posts/new" class="btn btn-primary btn-lg w-100">
                    Add Post
                </a>
        </div>

  </div>

{% endblock %}